<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auv</title>
    <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/bootstrap-table.css">
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap-table.js"></script>
    <script type="text/javascript" src="js/bootstrap-table-zh-CN.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/2.3.1/js/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/users.js"></script>
    <!--<script type="text/javascript" src="js/home.js"></script>-->
    <link rel="stylesheet" href="css/home/home.css">
</head>
<body class="bgimg siteScrolled" data-spy="scroll">
    <!--<nav id="mainnav" class="navbar" role="navigation">-->
        <!--&lt;!&ndash;<div class="navbar-header">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="navbar-brand" href="#">AUV</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="menu-primary-menu-container">-->
            <!--<ul id="menu" class="menu">-->
                <!--<li class="menu-item pull-right"><a href="#about" data-toggle="tab" style="text-decoration: none">About</a></li>-->
                <!--<li class="menu-item pull-right"><a href="#test" data-toggle="tab">Test</a></li>-->
                <!--<li class="menu-item active pull-right"><a href="#navigate" data-toggle="tab" >Navigate</a></li>-->
            <!--</ul>-->
            <!--<div id="tabcontent" class="tab-content">-->
                <!--<div id="navigate" class="tab-pane fade in active"></div>-->
                <!--<div id="test" class="tab-pane fade in"></div>-->
                <!--<div id="about" class="tab-pane fade in"></div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</nav>-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li class="active"><a data-target="#first">first</a></li>
            <li><a data-target="#second">second</a></li>
            <li><a data-target="#third">third</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1 id="first">first</h1>
        <h1 id="second">second</h1>
        <h1 id="third">third</h1>
    </div>

</body>
</html>